@import "./src/scss/mixins";

@mixin hover {
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

div.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 48px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  @include ubuntu(14px, white, 400);

  .header-name {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    border-radius: 3px;
    @include hover();

    .header-name-span {
      display: inline-block;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }

    .header-name-inpt {
      display: none;
    }
  }

  .favorite-a {
    .icon::before {
      background: url("/assets/icons/star-regular.svg") no-repeat;
    }
  }

  .private-a,
  .security-a {
    display: block;
    padding: 8px;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    @include hover();
  }

  .security-a {
    position: relative;
    padding: 8px 8px 8px 32px;

    .icon::before {
      background: url("src/assets/icons/lock-solid.svg") no-repeat center;
    }
  }

  .line-span {
    margin: 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    height: 16px;
  }
}

.icon-a {
  display: inline-block;
  position: relative;
  padding: 16px;
  border-radius: 3px;
  width: 24px;
  cursor: pointer;
  @include hover();
}

.icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  padding: 9px;

  &::before {
    content: "";
    display: block;
    margin: auto;
    width: 14px;
    height: 14px;
  }
}
