<nav>
  <div class="nav-container">
    <a href="#" class="home-btn">
      <span class="home-btn-icon-span"></span>
    </a>
    <a href="#" class="table-btn">
      <span class="table-btn-icon"></span>
      <span class="table-btn-text-span">Tables</span>
    </a>
    <div class="input-bar">
      <input type="text" class="input-bar-text" />
      <span class="input-bar-search-icon-span"></span>
    </div>
    <a href="#" class="trello-logo">
      <span class="trello-logo-span"></span>
    </a>
  </div>
</nav>
