@import "./src/scss/mixins";

@mixin a-hover() {
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

@mixin logo-hover() {
  &:hover {
    opacity: 1;
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 40px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);

  .home-btn {
    display: inline-block;
    width: 32px;
    height: 32px;

    .icon::before {
      background: url("/assets/icons/home-solid.svg") no-repeat;
    }
  }

  .table-btn {
    margin-right: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    height: 100%;
    cursor: pointer;
    @include a-hover();
  }

  .home-btn {
    align-self: center;
    width: 32px;

    .home-btn-icon-span {
      display: inline-block;
      width: 32px;
      height: 32px;

      .icon::before {
        background: url("src/assets/icons/home-solid.svg") no-repeat;
      }
    }
  }

  .table-btn {
    max-width: 90px;
    min-width: 32px;

    .icon::before {
      background: url("src/assets/icons/trello-brands.svg") no-repeat;
    }

    .table-btn-text-span {
      align-self: center;
      padding: 0 5px 0 32px;
      @include ubuntu(14px, white, 600);
      line-height: 32px;

      @include breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .input-bar {
    height: 100%;
    max-width: 170px;
    min-width: 32px;
    padding: 0;
    background-color: transparent;
    position: relative;
    border-radius: 3px;
    border: 0;
    background-color: #ffffff4d;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }

    @include breakpoint-down(md) {
      @include a-hover();
    }

    .input-bar-text {
      height: 100%;
      padding: 5px 30px 5px 10px;
      max-width: 170px;
      background-color: transparent;
      border: 0;

      @include breakpoint-down(md) {
        display: none;
      }

      &.clicked {
        background-color: white;
      }
    }

    .input-bar-search-icon-span {
      cursor: pointer;

      @include breakpoint-up(md) {
        left: auto;
        right: 5px;
      }
    }

    .icon::before {
      background: url("src/assets/icons/search-solid.svg") no-repeat;
      transform: rotate(90deg);
    }
  }

  .trello-logo {
    align-self: center;
    display: block;
    position: absolute;
    top: 4px;
    left: calc(50% - 40px);
    height: calc(100% - 8px);
    width: 80px;
    background-color: transparent;

    .trello-logo-span {
      display: block;
      width: 80px;
      height: 100%;
      background-image: url("src/assets/img/trello-logo-white.svg");
      background-size: 80px 30px;
      opacity: 0.6;
      @include logo-hover();
    }
  }
}

.icon-a {
  margin-right: 5px;
  display: block;
  position: relative;
  align-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  text-decoration: none;
  color: white;
  height: 100%;
  cursor: pointer;
  @include a-hover();
}

.icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  padding: 9px;

  &::before {
    content: "";
    display: block;
    margin: auto;
    width: 14px;
    height: 14px;
  }
}
