@import "./src/scss/mixins";

@mixin a-hover() {
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@mixin logo-hover() {
  &:hover {
    opacity: 1;
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 40px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.4);

  .home-btn,
  .table-btn {
    margin-right: 5px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    height: 100%;
    cursor: pointer;
    @include a-hover();
  }

  .home-btn {
    align-self: center;
    width: 32px;

    .home-btn-icon-span {
      display: inline-block;
      width: 32px;
      height: 32px;

      &::before {
        content: url("src/assets/icons/home-solid.svg");
        display: block;
        padding: 7px;
      }
    }
  }

  .table-btn {
    max-width: 90px;
    justify-content: space-between;

    .table-btn-icon {
      align-self: center;
      display: block;
      height: 32px;
      width: 32px;
      font-size: 16px;
      line-height: 16px;

      &::before {
        content: url("src/assets/icons/trello-brands.svg");
        display: block;
        padding: 7px 8px;
        max-height: 32px;
      }
    }

    .table-btn-text-span {
      align-self: center;
      margin: 0 10px 0 5px;
      @include ubuntu(14px, white, 700);
      line-height: 32px;

      @include breakpoint-down(sm) {
        display: none;
      }
    }
  }

  .input-bar {
    height: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;

    .input-bar-text {
      height: 100%;
      border-radius: 3px;
      border: 0;
      background-color: #ffffff4d;
      padding: 5px 30px 5px 10px;
      max-width: 170px;

      @include breakpoint-down(md) {
        display: none;
      }

      &.clicked {
        background-color: white;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }

    .input-bar-search-icon-span {
      display: block;
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      &::before {
        content: url("src/assets/icons/search-solid.svg");
        display: block;
        transform: rotate(90deg);
        padding: 8px;
        max-height: 32px;
      }
    }
  }

  .trello-logo {
    align-self: center;
    display: block;
    position: absolute;
    top: 4px;
    left: calc(50% - 80px);
    height: calc(100% - 8px);
    width: 80px;
    background-color: transparent;

    .trello-logo-span {
      display: block;
      width: 80px;
      height: 100%;
      background-image: url("src/assets/img/trello-logo-white.svg");
      background-size: 80px 30px;
      opacity: 0.6;
      @include logo-hover();
    }
  }
}
