@import './src/scss/mixins';

$color: priority-color;

@mixin priority-color($color) {
  background-color: $color;
}

.list-item {
  display: block;
  width: calc(100% - 16px);
  margin: 0px 8px 8px;
  padding: 8px 4px;
  border-radius: 3px;
  background-color: white;
  @include ubuntu(14px, black, 400);
  cursor: pointer;
  @include box-shadow(0px, 2px, 2px, 0, rgba(0, 0, 0, 0.2));

  &:hover {
    background-color: rgb(245, 245, 245);
  }

  .list-item-priority {
    display: block;
    width: 100%;
    height: 12px;

    .priority-color {
      display: block;
      margin-left: 4px;
      width: 40px;
      height: 8px;
      border-radius: 3px;
    }

    .priority- {
      &green {
        background-color: #61bd4f;
      }

      &red {
        background-color: #eb5a46;
      }

      &yellow {
        background-color: #f2d600;
      }

      &orange {
        background-color: #ff9f1a;
      }

      &purple {
        background-color: #c377e0;
      }

      &blue {
        background-color: #0079bf;
      }
    }
  }

  .list-item-name {
    display: block;
    padding: 4px;
  }
}
