<div class="wrapper" *ngIf="list">
  <div class="list">
    <div class="list-header">
      <textarea name="list-name" id="" cols="30" rows="10" class="list-name">{{
        list.name
      }}</textarea>
      <a class="list-menu-btn"></a>
    </div>
    <div *ngIf="list.items.length > 1">
      <app-list-item
        *ngFor="let listItem of list.items"
        [listItem]="listItem"
      ></app-list-item>
    </div>
    <div #newListItemWrapper class="newListItemWrapper">
      <div class="formWrapper" [class.is-visible]="newListItemToCreate">
        <form
          [formGroup]="listItemNameFormGroup"
          (ngSubmit)="addListItem(list)"
        >
          <textarea
            class="listItemNameInpt"
            formControlName="name"
            placeholder="Enter name for this card..."
            #newName
          ></textarea>
          <div class="newListItemBtns">
            <button class="newListItemBtn">
              Add card
            </button>
            <span class="exitIcon" (click)="hideAddListItemForm()"></span>
          </div>
        </form>
      </div>
      <a
        class="add-list-item"
        (click)="showListItemForm()"
        [class.is-hidden]="newListItemToCreate"
      >
        <span class="addIcon"></span>Add next card
      </a>
    </div>
  </div>
</div>
