<div class="wrapper" *ngIf="list">
  <div class="list" *ngIf="list.items.length > 1">
    <div class="list-header">
      <textarea name="list-name" id="" cols="30" rows="10" class="list-name">{{
        list.name
      }}</textarea>
      <a href="#" class="list-menu-btn"></a>
    </div>
    <app-list-item
      *ngFor="let listItem of list.items"
      [listItem]="listItem"
    ></app-list-item>
    <a class="add-list-item" href="#" (click)="addListItem(list)"
      >+ Dodaj kartę</a
    >
  </div>
</div>
