@import "./src/scss/mixins";

.lists-container {
  display: flex;
  flex-direction: row;
  min-width: 100vh;
  height: calc(100% - 88px);
  padding: 8px;
  background-color: rgb(240, 240, 240);
  overflow-x: auto;
  overflow-y: hidden;
}
