<div class="lists-container">
  <app-list
    *ngFor="let list of lists"
    [list]="list"
    (newListItem)="onAddItem($event)"
  ></app-list>
  <div #newItemWrapper class="newListWrapper">
    <div class="addListWrapper" [class.is-hidden]="showListForm">
      <span class="addNextListBtn" (click)="showAddListForm($event)">
        <span class="icon"></span>
        Add next list
      </span>
    </div>
    <div class="addListFormWrapper" [class.is-visible]="showListForm">
      <div class="addListForm"></div>
      <form [formGroup]="listNameFormGroup" (ngSubmit)="addList()">
        <input
          class="addListInput"
          type="text"
          placeholder="Enter list name"
          maxlength="512"
          formControlName="name"
        />
        <div class="newListItemBtns">
          <button type="submit" class="newListItemBtn">
            Add list
          </button>
          <span class="exitIcon" (click)="hideAddListForm()"></span>
        </div>
      </form>
    </div>
  </div>
</div>
