@import "./mixins";

body {
  background-color: rgb(170, 169, 169);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
html {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}
